Importando as Bibliotecas

In [3]:
#Manipulação dos dados
import pandas as pd

#Visualização

#Machine Learning

Carregando os Dados

In [5]:
df = pd.read_csv("KAG_conversion_data.csv")

In [6]:
type(df)

pandas.core.frame.DataFrame

Primeira Inspeção

In [9]:
df.head()

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [10]:
df.tail()

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [11]:
df.columns

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=1143, step=1)

In [13]:
df.shape

(1143, 11)

In [15]:
linhas, colunas = df.shape

In [16]:
print(f"O número de linhas e {linhas}")

O número de linhas e 1143

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
ser_interest = df['interest']

In [19]:
type(ser_interest)

pandas.core.series.Series

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB